.signin {
    width: 100%;
    max-width: 550px;
}

.signin form {
    padding: clamp(1.25rem, -4rem + 22.400vw, 3rem);
    border: 1px solid #0000001a;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signin__header {
    margin-bottom: 18px;
    text-align: center;
}

.signin__header img {
    padding-bottom: 10px;
    width: 47px;
    height: auto;
}

.signin__header .signin__title {
    font-weight: 700;
    color: #101828;
    text-transform: capitalize;
}

.signin form .input {
    border: 1px solid #d1d5dc;
    width: 100%;
    padding: 8px 27px 8px 12px;
    border-radius: 4px;
    color: #101828;
    font-size: 14px;
}

.signin form .input.input__err {
    border-color: tomato !important;
}

.signin form .input::placeholder {
    font-size: 16px;
}

.signin form .input:focus {
    border: 1px solid #4f39f6;
}

.signin__email {
    margin-bottom: 8px;
    position: relative;
}

.signin__email .signin__email-msg,
.signin__password .signin__pwd-msg {
    color: tomato;
    font-size: 11px;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    font-weight: 300;
} 

.signin__email svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 53%;
    transform: translateY(-50%);
    right: 5px;
    fill: #d1d5dc;


}

.signin__email label,
.signin__password label {
    display: block;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #101828;
}

.signin__password {
    margin-bottom: 20px;
    position: relative;
}

.signin__password svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 54%;
    transform: translateY(-50%);
    right: 7px;
}


.signin__remember {
    display: flex;
    gap: 7px;
    align-items: center;
    color: #101828;
    font-size: 14px;
}

.signin__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.signin__forgot-pass {
    font-size: 14px;
    font-weight: 600;
    color: #4f39f6;
}




.signin__form-btn {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    color: #fff;
    background-color: #4f39f6;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 40px;
    -webkit-tap-highlight-color: transparent;
}

.signin__form-btn:active {
    background-color: #615fff;
    scale: .99;
}

@media (hover: hover) {
    .signin__form-btn:hover {
        background-color: #615fff;
    }

    .signin__footer-btns button:hover {
        background-color: #fbf9fa;
    }

    .signin__forgot-pass:hover {
        color: #615fff;
    }
}




.signin__footer-head {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

.signin__footer-head span:first-child {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0px 25px;
    font-weight: 500;
    color: #101828;
}

.signin__footer-head .decore {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ebe6e7;
}

.signin__footer-btns {
    display: flex;
    justify-content: space-between;
    gap: 7%;
}

.signin__footer-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #d1d5dc;
    border-radius: 6px;
    /* max-width: 184px; */
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: #101828;
}




.signin__footer-btns button img {
    width: 20px;
    height: auto;
}