body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    min-height: 100dvh;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}


.products .products__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
}

@media (max-width: 950px) {
    .products .products__items {
        gap: 15px;
    }
}

@media (max-width: 950px) {
    .card__summary {
        display: block;
    }

    .products .products__items {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}


@media (max-width: 870px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 810px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
}

@media (max-width: 750px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
}

@media (max-width: 690px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media (max-width: 600px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }
}

@media (max-width: 340px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        /* gap: 10px; */
    }
}

header .header__filter {
    margin-bottom: 30px;
}

.cart__aside {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    transition: all .4s ease-in-out;
}

.products__inner {
    margin-bottom: 20px;
}