body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}


.products .products__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
}

@media (max-width: 950px) {
    .products .products__items {
        gap: 15px;
    }
}

@media (max-width: 950px) {
    .card__summary {
        display: block;
    }

    .products .products__items {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}


@media (max-width: 870px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 810px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
}

@media (max-width: 750px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
}

@media (max-width: 690px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 600px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }
}

@media (max-width: 340px) {
    .products .products__items {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
       /* gap: 10px; */
    }
}

/* .container__inner {
    display: flex;
    gap: 10px;
} */