.card {
    /* max-width: 400px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* padding: 10px; */
    padding: clamp(0.375rem, 0.254rem + 0.606vw, 0.625rem);
    border-radius: 4px;
}

.card__image {
    position: relative;
    /* margin-bottom: 16px; */
    margin-bottom: clamp(0.625rem, 0.443rem + 0.909vw, 1rem);
}

.card__image img {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    border-radius: clamp(0.25rem, 0.129rem + 0.606vw, 0.5rem);
}

.card__image span {
    position: absolute;
    /* top: 8px;
    left: 8px; */
    top: clamp(0.375rem, 0.314rem + 0.303vw, 0.5rem);
    left: clamp(0.375rem, 0.314rem + 0.303vw, 0.5rem);

    /* padding: 2px 7px; */
    padding: 2px clamp(0.25rem, 0.159rem + 0.455vw, 0.438rem);
    border-radius: 99px;
    background-color: #0f172a;
    color: #fff;
    /* font-size: 14px; */
    font-size: clamp(0.5rem, 0.318rem + 0.909vw, 0.875rem);
    font-family: inherit;
    display: inline-block;
    font-weight: 500;
}

.card .card__title {
    /* font-size: 18px; */
    font-size: clamp(0.813rem, 0.661rem + 0.758vw, 1.125rem);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
    /* line-height: 140%; */
    line-height: clamp(0%, calc(140% + (-3.9 * ((100vw - 980px) / -660))), 140%);
    ;
    color: #0f172a;
    /* padding: 0 5px; */
    padding: 0 clamp(0.125rem, 0.034rem + 0.455vw, 0.313rem);
}

.card__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5px; */
    padding: 0 clamp(0.125rem, 0.034rem + 0.455vw, 0.313rem);
    margin-bottom: 10px;
}

.card__rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.card__stars i {
    /* font-size: 13px; */
    font-size: clamp(0.625rem, 0.534rem + 0.455vw, 0.813rem);
    color: #fde047;
}

.card__stars {
    display: flex;
    align-items: center;
    gap: 2px;
}

.card__score {
    background-color: #fde047;
    /* padding: 2px 10px; */
    padding: 2px clamp(0.313rem, 0.161rem + 0.758vw, 0.625rem);
    border-radius: 4px;
    color: #0f172a;
    font-size: 12px;
    font-weight: 500;
}

.card__pricing {
    display: flex;
    align-items: center;
    gap: 4px;
    align-items: flex-end;
}

.card__price {
    /* font-size: 30px; */
    font-size: clamp(1rem, 0.576rem + 2.121vw, 1.875rem);
    color: #0f172a;
    font-weight: 700;
}

.card__sale {
    /* font-size: 14px; */
    font-size: clamp(0.625rem, 0.504rem + 0.606vw, 0.875rem);
    color: #0f172a;
    text-decoration: line-through;
    /* padding-bottom: 5px; */
    padding-bottom: clamp(0.125rem, 0.034rem + 0.455vw, 0.313rem);
    font-weight: 400;
}

.card__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    /* gap: 10px; */
    gap: clamp(0.25rem, 0.068rem + 0.909vw, 0.625rem);
    width: 100%;

    /* padding: 12px 0; */
    padding: clamp(0.375rem, 0.193rem + 0.909vw, 0.75rem) 0;
    background-color: #0f172a;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: clamp(0.25rem, 0.189rem + 0.303vw, 0.375rem);
    /* border-radius: 6px; */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-size: clamp(0.625rem, 0.443rem + 0.909vw, 1rem);
    /*16px inherit*/
    position: relative;
}

.spinner {
     position: absolute;
    top: 20%;
    transform: translateY(-50%);
    right: 3%;
}


.card__btn:active {
    background-color: #374151;
    scale: 99.5%;
}

@media (hover: hover) {
    .card__btn:hover {
        background-color: #374151;
    }
}


/* @media (max-width: 810px) {
    .card__btn {
        padding: 8px 0;
    }
} */